<h3>Search board games</h3>
<ul>
  <li class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{product.name}}</h4>
            </div>
            <div class="card-body" >
                <a href="#"><img class="card-img-top" height="450px"  src={{product.pictureUrl}} 
                    alt=""></a>
                <h5 class="card-title">${{product.price}}</h5>
				<div class="row">
                    
                   
            </div>
        </div>
    </div>
</ul>